

.about .picture {
  height: 100vh;
  
  background-image: url("../assets/me.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  margin: 40px auto;
}

.about .about-header {
  height: 4vh;
  width: calc(4vh*6.35);
  position: relative;
  left: calc((100vw - ((2/3)*100vh))/2 - 10px);
  background-image: url("../assets/about-header.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about .header {
  height: 60vh;
  margin: 0 auto;
  background-image: url('../assets/about.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  position: relative;
  top: -10vh;
}
@media screen and (max-width: 600px) {
  .about .picture {
    width: 266px;
    height: 400px;
    margin: 0 auto;
  }

  .about .about-header {
    margin-left: 5%;
    margin-top: 40px;
    position: static;
  }

  .about .header {
    position: static;
    width: 100%;
  }
}