

.about .picture {
  width: 100vh;
  height: 100vh;
  
  background-image: url("../assets/me.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  margin: 40px auto;
}

.about .header {
  width: 40vw;
  height: 60vh;
  margin: 0 auto;
  background-image: url('../assets/about.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  position: relative;
  top: -10vh;
}
@media screen and (max-width: 500px) {
  .about .picture {
    width: 266px;
    height: 400px;
    margin: 0 auto;
  }
}