.intro {
  height: 40vh;
  margin: 0 auto;
  background-image: url("../assets/intro.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.home .link.first{
  line-height: 5;
  position: relative;
  top: -120px;
}

.text {
  width: 100%;
  text-align: center;
  padding: 0 2.5%;
  font-size: 18px;
}

.text.pointer {
  width: 15%;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
  background-image: url("../assets/arrow.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  filter: hue-rotate(180);
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, calc(.75 * (.5 * 100vw)));
  padding: 0 2.5%;
  grid-gap: 5px;
  margin: 100px 0 0 0;
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.image-text {
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  z-index: -1;
  font-family: 'Gotham-Light';
}
.image:hover {
  opacity: .25;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.image-2 {
  background-image: url("./projectViews/Project1/assets/image-1.jpg");
  background-size: cover;
}
.image-3 {
  background-image: url("./projectViews/Project2/assets/image-2.jpg");
  background-size: 100% 100%;
}
.image-4 {
  background-image: url("./projectViews/Project3/assets/image-1.jpg");
  background-size: 100% 100%;
}
.image-5 {
  background-image: url("./projectViews/Project4/assets/image-1.jpg");
  background-size: 100% 100%;
}
.image-6 {
  background-image: url("./projectViews/Project5/assets/image-2.jpg");
  background-size: 100% 100%;
}
.image-1 {
  background-image: url("./projectViews/Project6/assets/logo-animation.gif");
  background-size: 100% 100%;
}

.image-7 {
  background-image: url("./projectViews/Project7/assets/image-1.gif");
  background-size: 100% 100%;
}

.image-8 {
  background-image: url("./projectViews/Project8/assets/image-1.jpg");
  background-size: 100% 100%;
}


@media screen and (max-width: 600px) {
  .home-grid {
    grid-template-columns: 90vw;
    grid-template-rows: repeat(8, calc(.75 * 100vw));
    justify-content: center;
    margin-bottom: 50px;
  }

  .home-grid .grid-item .image {
    width: 100%;
    height: 100%;
  }
}
