.project-6 .project-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, calc(.75 * 90vw));
  grid-template-areas:
    "one"
    "header"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight"
    "nine"
    "ten"
    "eleven"
    "twelve"
    "thirteen";
}

@media screen and (min-width: 551px) {
  .project-6 .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(17, calc(.75 * (.5 * 90vw)));
    grid-template-areas:
      "one one"
      "one one"
      "header header"
      "two two"
      "two two"
      "three three"
      "three three"
      "four four"
      "four four"
      "five five"
      "five five"
      "six six"
      "seven seven"
      "eight eight"
      "eight eight"
      "nine nine"
      "nine nine"
      "ten eleven"
      "twelve thirteen";
  }
}

.project-6 .project-grid>div {
  position: relative;
}

.project-6 .project-grid>div:before {
  display: table;
  padding-top: 100%;
  content: '';
}

.project-6 .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .project-6 .description {
    flex-direction: column;
    font-size: 14px;
    margin-top: 20vh;
    margin-bottom: 20px;
  }

  .project-6 .description .heading {
    margin-bottom: 5px;
  }
  .project-6 .description .item {
    margin-bottom: 20px;
  }
  .project-6 .description p {
    margin: 0px;
  }

  .project-6 .left {
    margin-bottom: 20px;
  }
}


.project-6 .project-grid .item-1 {
  background-image: url('./assets/image-1.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: one;
}

.project-6 .project-grid .header {
  background-image: url('./assets/intro.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: header;
}

.project-6 .project-grid .item-2 {
  background-image: url('./assets/image-2.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: two;
}

.project-6 .project-grid .item-3 {
  background-image: url('./assets/image-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: three;
}

.project-6 .project-grid .item-4 {
  background-image: url('./assets/image-4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: four;
}

.project-6 .project-grid .item-5 {
  background-image: url('./assets/image-5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: five;
}

.project-6 .project-grid .item-6 {
  background-image: url('./assets/image-6.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: six;
}

.project-6 .project-grid .item-7 {
  background-image: url('./assets/image-7.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: seven;
}

.project-6 .project-grid .item-8 {
  background-image: url('./assets/image-8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: eight;
}

.project-6 .project-grid .item-9 {
  background-image: url('./assets/image-9.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: nine;
}

.project-6 .project-grid .item-10 {
  background-image: url('./assets/image-10.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: ten;
}
.project-6 .project-grid .item-11 {
  background-image: url('./assets/image-11.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: eleven;
}
.project-6 .project-grid .item-12 {
  background-image: url('./assets/image-12.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: twelve;
}
.project-6 .project-grid .item-13 {
  background-image: url('./assets/image-13.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: thirteen;
}