.like-button {
  height: 40px;
  width: 125px;
  position: fixed;
  top: 90vh;
  left: 85vw;
  border-radius: 25px;
  font-weight: bold;
  border-style: none;
}

.like-button:focus {
  outline: 0;
}

.like-button img {
  width: 33%;
  height: 100%;
}