.info {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 10% 5% 10%;
}

.info .eye {
  height: 25px;
  width: 25px;
}

.info .views {
  height: 25px;
  width: 25px;
}

.info .like {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.info .likes {
  height: 25px;
  width: 25px;
}