.project-7 .project-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, calc(.75 * 100vw));
  grid-template-areas:
    "one"
    "header"
    "two"
    "three"
    "four"
    "five";
    padding: 0;
    grid-gap: 5px;
    margin-bottom: 50px;
}

@media screen and (min-width: 551px) {
  .project-7 .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, calc(.75 * (.5 * 100vw)));
    grid-template-areas:
      "one one"
      "one one"
      "header header"
      "header header"
      "two two"
      "two two"
      "three black1"
      "black2 four"
      "five five"
      "five five";
      padding: 0 2.5%;
      grid-gap: 5px;
      margin-bottom: 100px;
  }
}

.project-7 .project-grid>div {
  position: relative;
}

.project-7 .project-grid>div:before {
  display: table;
  padding-top: 100%;
  content: '';
}

.project-7 .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .project-7 .description {
    flex-direction: column;
    font-size: 14px;
    margin-top: 20vh;
    margin-bottom: 20px;
  }

  .project-7 .description .heading {
    margin-bottom: 5px;
  }
  .project-7 .description .item {
    margin-bottom: 20px;
  }
  .project-7 .description p {
    margin: 0px;
  }

  .project-7 .left {
    margin-bottom: 20px;
  }
}


.project-7 .project-grid .item-1 {
  background-image: url('./assets/image-1.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: one;
}

.project-7 .project-grid .header {
  background-image: url('./assets/intro.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: header;
}

.project-7 .project-grid .item-2 {
  background-image: url('./assets/image-2.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: two;
}

.project-7 .project-grid .item-3 {
  background-image: url('./assets/image-3.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: three;
}

.project-7 .project-grid .item-4 {
  background-image: url('./assets/image-4.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: four;
}

.project-7 .project-grid .item-5 {
  background-image: url('./assets/image-5.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: five;
}

.project-7 .project-grid .black-1 {
  background-size: contain;
  background: black;
  grid-area: black1;
}

.project-7 .project-grid .black-2 {
  background-size: contain;
  background: black;
  grid-area: black2;
}
